import(utils)
import(grDevices)
import(lattice)
import(grid)
import(sp)
importFrom(ade4, covfacwt, covwt, meanfacwt, varfacwt, varwt)
importFrom(graphics, plot)
importFrom(KernSmooth, bkde2D, bkde)
importFrom(methods, show)
importFrom(RColorBrewer, brewer.pal)
importFrom(stats, update)



export(
  adegpar,
  adeg.panel.label,
  adeg.panel.edges,
  adeg.panel.nb,
  adeg.panel.Spatial,
  adeg.panel.values,
  layout2position,
  as.raster.pixmapRGB,
  as.raster.pixmapGrey,
  changelatticetheme,
  ADEgS,
  s.label,
  s.corcircle,
  s.arrow,
  s.class,
  s.distri,
  s.value,
  s.image,
  s.logo,
  s.density,
  s.match,
  s.Spatial,
  s.traject,
  addhist,
  table.value,
  table.image,
  triangle.label,
  triangle.match,
  triangle.class,
  triangle.traject,
  s1d.label,
  s1d.class,
  s1d.density,
  s1d.distri,
  s1d.gauss,
  s1d.barchart,
  s1d.match,
  s1d.boxplot,
  plot.coinertia,
  plot.foucart,
  plot.pcaiv,
  plot.betcoi,
  plot.betrlq,
  plot.between,
  plot.discrimin,
  plot.within,
  plot.witcoi,
  plot.witrlq,
  plot.dpcoa,
  plot.mcoa,
  plot.mfa,
  plot.multispati,
  plot.niche, 
  plot.procuste,
  plot.rlq,
  plot.pta,
  plot.sepan,
  plot.statis,
  kplot.foucart,
  kplot.mcoa,
  kplot.mfa,
  kplot.pta,
  kplot.sepan,
  kplot.sepan.coa,
  kplot.statis,
  screeplot.dudi,
  scatter.dudi,
  scatter.coa,
  scatter.pco,
  scatter.nipals,
  plot.acm,
  plot.fca,
  score.acm,
  score.mix,
  score.pca
  )

exportMethods(
  "add.ADEg",
  "printSuperpose",
  "[",
  "[[",
  "[[<-",
  "+",
  "$",
  "length",
  "names",
  "names<-",
  "addhist",
  "getcall",
  "getparameters",
  "getpositions",
  "getgraphics",
  "getstats",
  "gettrellis",
  "getlatticecall",
  "plot",
  "print",
  "show",
  "superpose",
  "insert",
  "update",
  "zoom"
  )

exportClasses(
  "ADEg",
  "ADEgS",
  "ADEg.S2",
  "ADEg.S1",
  "ADEg.C1",
  "ADEg.T",
  "ADEg.Tr",
  "S2.arrow",
  "S2.class",
  "S2.distri",
  "S2.corcircle",
  "S2.density",
  "S2.image",
  "S2.label",
  "S2.match",
  "S2.value",
  "S2.traject",
  "S2.logo",
  "T.value",
  "T.image",
  "T.cont",
  "Tr.label",
  "Tr.match",
  "Tr.class",
  "Tr.traject",
  "S1.label",
  "S1.class",
  "S1.match",
  "S1.boxplot",
  "S1.distri",
  "C1.density",
  "C1.gauss",
  "C1.barchart"
  )

